/* common code end */
.bg-color-primary{
    background: rgb(235, 201, 235);
}
.bg-color-secondary{
    background: rgb(243, 245, 238);
}
.text-justify{
    text-align: justify;
}
.container{
    min-width: 360px;
}
/* common code end */
/* contact info start */
.contact-info ul{
    
    & li{
        list-style: none;
        color: #ffffff;
        background: teal;
        padding: 10px;
        margin-bottom: 5px;
        border-radius: 15px;
        transition: .5s linear;
        &:hover{
            cursor: pointer;
            background: #007bff;
        }
    }
    & a{
        color: #ffffff;
        font-size: 18px;
        text-decoration: none;
    }
}
/* contact info end */